body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    font-family: Arial black;
}

form {
    text-align: center;
}

.container {
    display: grid;
    /* grid-template-columns: 100px 100px 100px;
    text-align: center; */
}